<?xml version="1.0" encoding="UTF-8" standalone="no"?><application>
<Configuration>
    <!-- IP адресс компьтера студента  -->
        <IP>192.168.0.104</IP>

    <!-- Broad Cast IP UDP  -->
        <IP_UDP>192.168.0.255</IP_UDP>

    <!--  UDP порт для маяка-->
        <PORT_UDP>9610</PORT_UDP>
        
    <!--UDP порт приема данных доски  + 1 -->        
    <!--TCP порт отправки экрана студета +2 -->
    <!--TCP порт получения команд  +3 -->
    <!--port UDP for get ScreenStream +4 -->
    
    <!-- Флаг определяющий выполнять или нет автоопределение IP -->
    <Define>True</Define>
    <!-- Флаг определяющий выполнять или нет автоопределение IP -->
    <AutoConnection>true</AutoConnection>
        
</Configuration>
    <!--Фамилия Имя студента-->
        <Name> Student</Name>
      <!--Расположение и размеры доски-->  
        <BoundsBoard>
            <X>366</X>
            <Y>-709</Y>
            <Width>453</Width>
            <Height>425</Height>
            <Opacity>0.9</Opacity>
        </BoundsBoard>

	<!-- Size PreviewPane -->
	<WidthPreview>240</WidthPreview> 
	<Colors>
            <!--Цвет фона-->
		<Background>FFFFCC</Background>
            <!--Цвет текста-->
		<Foreground>660099</Foreground>
	</Colors>
</application>