<?xml version="1.0" encoding="UTF-8" standalone="no"?><application>
<Configuration>
    <!-- IP адресс компьтера студента  -->
        <IP>192.168.0.104</IP>

    <!-- Broad Cast IP UDP  -->
        <IP_UDP>192.168.0.255</IP_UDP>

    <!--  UDP порт для маяка-->
        <PORT_UDP>9800</PORT_UDP>
        
    <!--UDP порт приема данных доски  + 1 -->
    <!--PORT_UDP_BOARD>9801</PORT_UDP_BOARD-->
        
    <!--TCP порт отправки экрана студета +2 -->
    <!--PORT_TCP_IMG>9802</PORT_TCP_IMG-->
        
    <!--TCP порт получения команд  +3 -->		
    <!--PORT_TCP_COMMAND>9803</PORT_TCP_COMMAND-->
		
	<!--port UDP for get ScreenStream +4 -->		
	<!--PORT_TCP_ScStr>9804</PORT_TCP_ScStr-->
        
</Configuration>
    <!--Фамилия Имя студента-->
        <Name> Student</Name>
      <!--Расположение и размеры доски-->  
        <BoundsBoard>
            <X>559</X>
            <Y>-882</Y>
            <Width>450</Width>
            <Height>440</Height>
	    	<Scale>0.463</Scale>
        </BoundsBoard>

	<!-- Size PreviewPane -->
	<WidthPreview>240</WidthPreview>  
      
	<Colors>
		<!--Цвет фона-->
		<Background>999999</Background>
        <!--Цвет текста-->
		<Foreground>000099</Foreground>
	</Colors>
        
        
        
</application>